
.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.header__item{
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 25px;
}

.header__cart{
  font-size: 30px;
}

.Home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.imgUrl{
  height: 100px;
}

.modules{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Cart{
  width: 100%;
  max-width: 1200px;
}

.cart__products{
  display: flex;
  flex-wrap: wrap;
}